<!DOCTYPE html>

<html>
    <head>
        <title>{%block title%}Rango:How to tango with django{%endblock%}</title>
    </head>

    <body>
        <div>
            <ul>
                <li><a href="/rango/">Homepage</a></li>
                {%if user.is_authenticated%}
                <li><a href="/rango/logout/">Logout</a></li>
                <li><a href="/rango/add_category/">Add a category</a></li>
                {%else%}
                <li><a href="/rango/login/">Login</a></li>
                <li><a href="/rango/register/">Register</a></li>
                {%endif%}
                <li><a href="/rango/about/">About</a></li>
            </ul>
        </div>
        <hr />
        <div>
        {%block body_block%}
        {%endblock%}
        </div>
    </body>
</html>