{% extends 'rango/base.html' %}
{% load static %}

{% block body_block %}



        {%if user.is_authenticated%}
	<h1>hello {{user.username}}</h1>
	{%else%}
	<h1>hello world!</h1>
	{%endif%}
	A message: {{boldmessage}}<br />
	Here is a link to the about page :
	<a href='/rango/about'>About</a><br/>
	Here is a list of categories (if present):<br />
	{%if categories%}	
	<ul>	
	{% for c in categories %}	
	<li>
	{{c.name}}
	</li>	
	{% endfor %}
	</ul>
	
	{%else%}
	sorry! there are no categories present. Click the link below to add a category!<br />
	{%endif%}
	<a href="/rango/add_category">Add a category</a><br/>
	{%if user.is_authenticated%}
	<a href="/rango/logout">Logout</a><br/>
	{%else%}
	<a href="/rango/register/">Register Here</a><br/>
	<a href="/rango/login/">Login</a><br/>
	{%endif%}
<!-- </div> -->
      

{% endblock body_block %}